page-add-document-bill {


  .ok-button-selected,
  .problem-button-selected,
  .all-button-selected {
    width: 100px;
    background: #fff;
    border: 0.5px solid #0752af;
    font-weight: 1000 !important;
  }

  .problem-button-selected {
    color: white;
    background: red !important;
  }

  .ok-button-selected {
    color: white;
    background: green !important;
  }

  .all-button-selected {
    color: white;
    background: #0752af !important;
  }

  .document-button {
    div {
      background: #fff;
      padding: 10px;
      text-align: center;
      border-radius: 10px;
    }
  }

  .card-md {
    margin:0px !important;
    margin-top: -8px !important;
    border-radius: 10px;
    position: absolute;
    z-index: 1000;
    width: calc(100% - 64px);
  }
  

  .custom-searchbar-div {
    position: relative;
    margin: 20px 0 10px;

    .fa.fa-angle-down {
      position: absolute;
      top: 10px;
      right: 20px;
      color: #0752af;
      font-size: 25px;
    }
  }

  .custom-button-u{
    width: 80px !important;
    margin-top: -16px !important;
    height: 21px !important;
    margin-left: 16px !important;
    background: #a80852 !important;
    font-size: 9px !important;
  }


  .custom-searchbar {
    padding: 0px;
    border-radius: 7px;

    .searchbar-input {
      color: #0752af;
      border-radius: 20px;
    }
  }

  // div.scrollmenu {
  //   //background-color: #333;
  //   position: relative;
  //   margin-top: 20px;
  //   overflow: auto;
  //   white-space: nowrap;
  //   background: #fff;
  //   div {
  //     //width: 100%;

  //     border: 1px solid #0752af;
  //   }

  //   .fa-angle-down,
  //   .fa-angle-right {
  //     font-size: 30px;
  //     color: #0752af;
  //     position: absolute;
  //     bottom: 20px;
  //   }

  //   .fa-angle-down {
  //     right: 0;
  //   }

  //   .fa-angle-right {
  //     left: 20px;
  //   }
  // }

  // div.scrollmenu a {
  //   display: inline-block;
  //   //color: white;
  //   text-align: center;
  //   padding: 14px;
  //   font-size: 14px;
  //   text-decoration: none;
  //   color: #0752af;
  //   border: 1px solid #0752af;
  //   border-bottom: none;
  // }

  // div.scrollmenu a:hover {
  //   background-color: #777;
  // }

  .problem-button {
    width: 100px;
  }

  .add-complaint,
  .update-status {
    width: 160px;
  }

  @media screen and (max-width: 414px) {
    div.scrollmenu {
      height: 50vh;
    }
  }

  @media screen and (max-width: 375px) {
    div.scrollmenu {
      height: 42vh;
    }
  }

  @media screen and (max-width: 360px) {
    div.scrollmenu {
      height: 40vh;
    }
  }

  @media screen and (max-width: 320px) {
    div.scrollmenu {
      height: 34vh;
    }
  }
}
