<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-2 class="custom-back-button">
        <!-- <ion-icon name="ios-arrow-round-back"></ion-icon> -->
      </ion-col>
    
      <ion-col col-7 class="person-name text-left">
        <ion-title>        
          <ion-icon ios="ios-copy" md="md-copy"></ion-icon>
          {{document['document_name']}}
        </ion-title>

      </ion-col>
      <ion-col col-3 class="youtube">
        <img src="../../assets/saarthi-icon/png/youtube.png" alt="" >
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container"> 
    <div class="text-center mt-4">
      


    </div>

    <!-- <ion-row>
      <ion-col col-4 class="text-center">
        <button ion-button round class="expired-button" >EXPIRED</button>
      </ion-col>
      <ion-col col-4 class="text-center">
        <button ion-button round class="ok-button" >OK</button>
      </ion-col>
      <ion-col col-4 class="text-center">
        <button ion-button round class=" all-button" >ALL</button>
      </ion-col>
    </ion-row> -->
    
    <ion-row>
      <ion-col col-4 class="text-center">
        <button ion-button round [ngClass]="ok == true ? 'ok-button-selected' : 'ok-button'" (click)="displayOk()">OK</button>
      </ion-col>
      <ion-col col-4 class="text-center">
        <button ion-button round [ngClass]="expired == true ? 'problem-button-selected' : 'problem-button'" (click)="displayExpired()">EXPIRED</button>
      </ion-col>
      <ion-col col-4 class="text-center">
        <button ion-button round [ngClass]="all == true ? 'all-button-selected' : 'all-button'" (click)="displayALL()">ALL</button>
      </ion-col>
    </ion-row>


    <div class="custom-searchbar-div" style="position: relative;">
      <ion-searchbar class="custom-searchbar" [(ngModel)]="searchTerm" (click)="clicksearchbar()" (ionInput)="getItems($event)" placeholder="SEARCH PERSON NAME, BILL NUMBER"></ion-searchbar>
      <i class="fa fa-angle-down" aria-hidden="true" (click)="closesearchbar()"></i>
    </div>

    <ion-card *ngIf="displayfilter">
      <ion-card-content>
        <ion-list >
          <ion-item *ngFor="let sr of displaysearchitems" (click)="clickedsearchitem(sr)">
           <div *ngIf="sr['type']=='shopname'">
            <p style="color: #000;">{{sr['name']}}</p>
             <p>Person</p>
            </div>
           <div *ngIf="sr['type']=='bills'">
              <p style="color: #000;">{{sr['id']}} ~ {{sr['amount']}}</p>
              <p>Person : {{sr['name']}}</p>
           </div>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

 

    <div class="scroll-grid" >
      <div class="scrollmenu">
        <a href="#about">BILL NUMBER</a>
        <a href="#home">PERSON</a>
        <a href="#news">VEHICLE NUMBER</a>
        <a href="#contact">BILL DATE</a>
        <a href="#support">COST</a>
        <!-- <a href="#support">BILL</a> -->
        <a href="#support">DETAIL</a>
        <a href="#support">IMAGE</a>
    
        <div [ngClass]="bill['selected'] == 'true' ? 'scrollmenu-list selected' : 'scrollmenu-list'"  *ngFor="let bill of filterbills" (click)="selectThis(bill)">
          <div *ngIf="ok && !bill['is_expired']">
          <p>{{bill['bill_id']}}</p>
          <p>{{bill['person_shop_name']}}</p>
          <p>
            <span *ngFor="let vh of bill['details']">
            {{vh['vehicle_detail']['vehicle_number'] + " expires on ("+ vh['document_expiry_date']+") :: "}}
            </span>
          </p>
          <p>{{bill['bill_date']}}</p>
          <p>{{bill['total_bill']}}</p>
          <p>{{bill['bill_details']}}</p>
          <p>
            <span *ngIf="bill['image'] != null && bill['image'] != undefined">
              <img [src]="bill['image']['image_url']" style="width:11% !important" (click)="viewBillImage(bill['image'])" />
            </span>
          </p>
        </div>

        <div *ngIf="expired && bill['is_expired']">
          <p>{{bill['bill_id']}}</p>
          <p>{{bill['person_shop_name']}}</p>
          <p>
            <span *ngFor="let vh of bill['details']">
              {{vh['vehicle_detail']['vehicle_number'] + " expires on ("+ vh['document_expiry_date']+") :: "}}
              </span>
          </p>
          <p>{{bill['bill_date']}}</p>
          <p>{{bill['total_bill']}}</p>
          <p>{{bill['bill_details']}}</p>
          <p>
            <span *ngIf="bill['image'] != null && bill['image'] != undefined">
              <img [src]="bill['image']['image_url']" style="width:11% !important" (click)="viewBillImage(bill['image'])" />
            </span>
          </p>
        </div>

        <div *ngIf="all">
          <p>{{bill['bill_id']}}</p>
          <p>{{bill['person_shop_name']}}</p>
          <p>
            <span *ngFor="let vh of bill['details']">
              {{vh['vehicle_detail']['vehicle_number'] + " expires on ("+ vh['document_expiry_date']+") :: "}}
              </span>
          </p>
          <p>{{bill['bill_date']}}</p>
          <p>{{bill['total_bill']}}</p>
          <p>{{bill['bill_details']}}</p>
          <p>
            <span *ngIf="bill['image'] != null && bill['image'] != undefined">
              <img [src]="bill['image']['image_url']" style="width:11% !important" (click)="viewBillImage(bill['image'])" />
            </span>
          </p>
        </div>
        </div>
  
     
      </div>
      <div class="show-arrows">
        <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
        
        <button ion-button class="custom-button-u" *ngIf="isupdate" (click)="update()">Change &nbsp; <ion-icon name="create" class="ion-icon-w"></ion-icon> </button>
        <button ion-button class="custom-button-u" *ngIf="isupdate" (click)="presentConfirmDelete()"> &nbsp;  Erase &nbsp;<ion-icon name="ios-trash" class="ion-icon-w"></ion-icon> </button>
  
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
  
      </div>
    </div>
   

    <div class="text-center">
      <button ion-button round class="custom-button add-complaint" (click)="openRenewalDocumentPage()">RENEW/ADD</button>

    </div>


  </div>
</ion-content> 



