<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-1 class="custom-back-button">
      </ion-col>

      <ion-col col-9 class="person-name text-left">
        <ion-title>
          <i class="fa fa-file-image-o" aria-hidden="true"></i>
          ALL PHOTO KHATA
        </ion-title>

      </ion-col>
      <ion-col col-2 class="youtube">
        <ion-icon name="close" style="font-size: 2em;margin-top: 12px;" (click)="dismiss()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-col col-12>
    <ion-searchbar mode="md" (ionInput)="filterList($event)" [(ngModel)]="searchTerm"></ion-searchbar>
  </ion-col>

  <ion-list>
      <ion-item *ngFor="let img of filterimages" (click)="viewImage(img)">
        <ion-grid>
          <ion-row>
          <ion-col col-4>
            <p *ngIf="img['image_url'] != null">
              <img [src]="img['image_url']" style="width: 100px;"  />
            </p>
          </ion-col>
          <ion-col col-8 style="text-align: left !important;margin-top: 10px;">
            <span style="white-space: normal;font-size: 12px !important;font-weight: 800;color: #0752af;">
              {{img['tag_cloud']}}
            </span>
          </ion-col>
        </ion-row>
        </ion-grid>
      </ion-item>
  </ion-list>

</ion-content>