<ion-header>
  <ion-navbar>
    <ion-title>
      Notifications
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let n of notifications">
        <h2 class="title-n">{{n['title']}}</h2>
        <p class="message-n"> 
          {{n['message']}}
        </p>
        <p style="float: right !important;">
        <button ion-button outline round *ngIf="n['click_page'] != ''" (click)="goToActionPage(n['click_page'],n['next_link'])">
          Update Now
        </button>
      </p>
    </ion-item>
  </ion-list>
</ion-content>
