<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-3 class="person-picture">
        <ion-icon ios="ios-contact" md="md-contact" style="margin-top: 4px;font-size:4.2rem !important; color: #999999 !important;"></ion-icon>
      </ion-col>
      <ion-col col-6 class="person-name">
        <ion-title>{{name}}</ion-title>

      </ion-col>
      <ion-col col-3 class="youtube">
        <ion-icon name="logo-youtube" color="danger" style="font-size: 4.2rem;margin-top: 3px;color: #999999 !important;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<!-- (click)="openProfilePage()" -->

<ion-content padding class="home">




  <ion-row padding class="pd">
    <ion-col col-12 (click)="openAccountKhata()"
      style="background: #287ac4 !important; color: #fff !important; border-radius: 5px !important;    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);">
      <ion-row>
        <ion-col col-2 style="text-align:center !important;">
          <img src="../../assets/saarthi-icon/png/003-file.png" style="width: 50% !important;" alt="">
        </ion-col>
        <ion-col col-9 style="margin-top: 6px;font-weight: 1000;">
          ACCOUNTS & PAYMENT KHATA
        </ion-col>
        <ion-col col-1 style="    margin-top: 7px;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>


  <ion-row padding class="pd">
    <ion-col col-12 (click)="openVehicleKhata()"
      style="background: #287ac4 !important; color: #fff !important; border-radius: 5px !important;    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);">
      <ion-row>
        <ion-col col-2 style="text-align:center !important;">
          <img src="../../assets/saarthi-icon/png/006-delivery-truck.png" style="width: 50% !important;" alt="">
        </ion-col>
        <ion-col col-9 style="margin-top: 6px;font-weight: 1000;">
          VEHICLE KHATA
        </ion-col>
        <ion-col col-1 style="    margin-top: 7px;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row padding class="pd">
    <ion-col col-12 (click)="openDriverKhata()"
      style="background: #287ac4 !important; color: #fff !important; border-radius: 5px !important;    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);">
      <ion-row>
        <ion-col col-2 style="text-align:center !important;">
          <img src="../../assets/saarthi-icon/png/driver.png" style="width: 50% !important;" alt="">
        </ion-col>
        <ion-col col-9 style="margin-top: 6px;font-weight: 1000;">
          DRIVER KHATA
        </ion-col>
        <ion-col col-1 style="    margin-top: 7px;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row padding class="pd">
    <ion-col col-12 (click)="openShopKhata()"
      style="background: #287ac4 !important; color: #fff !important; border-radius: 5px !important;    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);">
      <ion-row>
        <ion-col col-2 style="text-align:center !important;">
          <img src="../../assets/saarthi-icon/png/004-shop.png" style="width: 50% !important;" alt="">
        </ion-col>
        <ion-col col-9 style="margin-top: 6px;font-weight: 1000;">
          SHOP KHATA
        </ion-col>
        <ion-col col-1 style="    margin-top: 7px;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row padding class="pd">
    <ion-col col-12 (click)="openMechanicalKhata()"
      style="background: #287ac4 !important; color: #fff !important; border-radius: 5px !important;    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);">
      <ion-row>
        <ion-col col-2 style="text-align:center !important;">
          <img src="../../assets/saarthi-icon/png/007-mechanic.png" style="width: 50% !important;" alt="">
        </ion-col>
        <ion-col col-9 style="margin-top: 6px;font-weight: 1000;">
          MECHANIC KHATA
        </ion-col>
        <ion-col col-1 style="    margin-top: 7px;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>


  <ion-row padding class="pd">
    <ion-col col-12 (click)="openDocumentAndInsurance()"
      style="background: #287ac4 !important; color: #fff !important; border-radius: 5px !important;    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);">
      <ion-row>
        <ion-col col-2 style="text-align:center !important;">
          <img src="../../assets/saarthi-icon/png/002-folder.png" style="width: 50% !important;" alt="">
        </ion-col>
        <ion-col col-9 style="margin-top: 6px;font-weight: 1000;">
          DOCUMENT KHATA
        </ion-col>
        <ion-col col-1 style="    margin-top: 7px;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row padding class="pd">
    <ion-col col-12 (click)="openComplaintKhata()"
      style="background: #287ac4 !important; color: #fff !important; border-radius: 5px !important;    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);">
      <ion-row>
        <ion-col col-2 style="text-align:center !important;">
          <img src="../../assets/saarthi-icon/png/008-report.png" style="width: 50% !important;" alt="">
        </ion-col>
        <ion-col col-9 style="margin-top: 6px;font-weight: 1000;">
          COMPLAINT KHATA
        </ion-col>
        <ion-col col-1 style="    margin-top: 7px;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <!--  -->
  <ion-row padding class="pd">
    <ion-col col-12  (click)="openReportKhata()"
      style="background: #287ac4 !important; color: #fff !important; border-radius: 5px !important;    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);">
      <ion-row>
        <ion-col col-2 style="text-align:center !important;">
          <img src="../../assets/saarthi-icon/png/001-clipboard.png" style="width: 50% !important;" alt="">
        </ion-col>
        <ion-col col-9 style="margin-top: 6px;font-weight: 1000;">
          REPORTS KHATA
        </ion-col>
        <ion-col col-1 style="    margin-top: 7px;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row padding class="pd">
    <ion-col col-12 (click)="openAllImageKhata()"
      style="background: #287ac4 !important; color: #fff !important; border-radius: 5px !important;    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);">
      <ion-row>
        <ion-col col-2 style="text-align:center !important;">
          <img src="../../assets/saarthi-icon/png/009-image.png" style="width: 50% !important;" alt="">
        </ion-col>
        <ion-col col-9 style="margin-top: 6px;font-weight: 1000;">
          ALL IMAGE KHATA
        </ion-col>
        <ion-col col-1 style="    margin-top: 7px;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>


  <h2 *ngIf="notifications.length > 0">Recent Notifications</h2>
  <ion-list>
    <ion-item *ngFor="let n of notifications">
        <h2 class="title-n">{{n['title']}}</h2>
        <p class="message-n"> 
          {{n['message']}}
        </p>
        <p style="float: right !important;">
        <button ion-button outline round *ngIf="n['click_page'] != ''" (click)="goToActionPage(n['click_page'],n['next_link'])">
          Update Now
        </button>
      </p>
    </ion-item>
  </ion-list>

  <!-- <ion-slides pager="true" autoplay="3000" paginationType="bullet">
    
    <ion-slide>
      <iframe width="98%" height="200" src="https://www.youtube.com/embed/OlaoxdpKcXY" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-slide>

    <ion-slide>
      <iframe width="98%" height="200" src="https://www.youtube.com/embed/WxiPhcckODc" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-slide>

    <ion-slide>
      <iframe width="98%" height="200" src="https://www.youtube.com/embed/WxiPhcckODc" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-slide>

    <ion-slide>
      <iframe width="98%" height="200" src="https://www.youtube.com/embed/WxiPhcckODc" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-slide>

    <ion-slide>
      <iframe width="98%" height="200" src="https://www.youtube.com/embed/WxiPhcckODc" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-slide>
  </ion-slides>


 -->



 


</ion-content>