page-shop-khata {
  .document-button {
    div {
      background: #0752af;
      padding: 10px;
      text-align: center;
      font-weight: 1000 !important;
      border-radius: 5px;
      color: #f3f3f3;
    }
  }

  .shop-khata {
    margin: 25px 0px;
    padding: 10px 10px;
    background: #f3f3f3;
    // border: 0.5px solid rgba(128, 128, 128, 0.37);

    a {
      color: #0752af;
    }
  }

  .custom-searchbar-div {
    position: relative;
    margin: 20px 0 10px;

    .fa.fa-angle-down {
      position: absolute;
      top: 10px;
      right: 20px;
      color: #0752af;
      font-size: 25px;
    }
  }

  .card-md {
    margin:0px !important;
    margin-top: -8px !important;
    border-radius: 10px;
    position: absolute;
    z-index: 1000;
    width: calc(100% - 64px);
  }

  .custom-button-u{
    width: 80px !important;
    margin-top: -16px !important;
    height: 21px !important;
    margin-left: 16px !important;
    background: #a80852 !important;
    font-size: 9px !important;
  }

  .custom-searchbar {
    padding: 0px;
    border-radius: 7px;

    .searchbar-input {
      color: #0752af;
      border-radius: 20px;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }
  }

  div.scrollmenu {
    height: 150px;
  }


  .chip-md{
    border-radius: 3px;
    height: 26px;
    font-size: 8px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.87);
    background: rgba(0, 0, 0, 0.12);
    margin: 2px 0;
    }

    ion-icon{
      text-align: center;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      font-size: 18px;
      line-height: 26px;
    }


    .custom-button-w{
      width: 80% !important;
    }

    .ion-icon-w {
      font-size: 12px;
      line-height: 33px;
    }


}
