<!-- Driver -->
<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-2 class="custom-back-button">
        <!-- <ion-icon name="ios-arrow-round-back"></ion-icon> -->
      </ion-col>
      
      <ion-col col-7 class="person-name text-left">
        <ion-title>        
          <i class="fa fa-user" aria-hidden="true"></i>
          DRIVER DOCUMENT
        </ion-title>

      </ion-col>
      <!-- <ion-col col-1></ion-col> -->
      <ion-col col-3 class="youtube">
        <img src="../../assets/saarthi-icon/png/youtube.png" alt="" >
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container driver">

    <!-- <ion-row class="driver-modal">
      <ion-col col-12 class="text-center driver-modal-header">
        DRIVER DETAIL
      </ion-col>
      <ion-col col-12 class="profile-picture text-center mb-4">
        <img width="120px" src="https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png" alt="">
      </ion-col>
      <ion-col col-6>
        NAME: <br> <span class="text-color-primary">{{driver['name']}}</span>
      </ion-col>
      <ion-col col-6>
        PHONE: <br>  <span class="text-color-primary">{{driver['phone_number']}}</span> <i class="fa fa-phone" aria-hidden="true" style="color: #0752af; font-size: 12px"></i>

      </ion-col>
      <ion-col col-6>
        STATUS:<br>  <span  class="text-color-primary">DRIVER</span>
      </ion-col>
      <ion-col col-6>
        LOCATION: <br>  <span class="text-color-primary">KOLKATA</span>
      </ion-col>
      <ion-col col-6>
        JOINED SINCE: <br>  <span  class="text-color-primary">3/05/2021</span>
      </ion-col>
      <ion-col col-6>
        VEHICLE NUMBER:  <br>  <span class="text-color-primary">XUX-423</span>
      </ion-col>
      
      <ion-col col-6>
        SALARY: <br>  <span  class="text-color-primary">{{driver['salary']}}</span>
      </ion-col>
      <ion-col col-6>
        TOTAL KM: <br>  <span  class="text-color-primary">XXXX</span>
      </ion-col>
      <ion-col col-6>
        REFERENCE: <br>  <span class="text-color-primary">{{driver['reference_person']}}</span>
      </ion-col>

      <ion-col col-6>
        PREVIOUS VEHICLE NUMBER: <br>  <span class="text-color-primary">XXXX</span>
      </ion-col>

      <ion-col col-6>

      </ion-col>



      <ion-col col-6 (click)="showMore()" class="text-right show-more-fa">
        <i id="fa-arrow-circle-down-driver" class="fa fa-arrow-circle-down"  aria-hidden="true" style="font-size: 20px;"></i>

      </ion-col>


  
        <ion-col col-12 *ngIf="isShown">
          <ion-row style="padding: 15px;">
            <ion-col col-7 class="pt-5">
              DOCUMENT NUMBER: <br>
              <span class="text-color-primary">PAN CARD - 10242424</span>
              
            </ion-col>
            <ion-col col-5 >
              <img src="../../assets/imgs/logo.png" alt="" width="100px">
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col col-12 *ngIf="isShown">
          <ion-row style="padding: 15px;">
            <ion-col col-7 class="pt-5">
              DRIVER LICENSE: <br>
              <span class="text-color-primary">10242424</span>
              
            </ion-col>
            <ion-col col-5 >
              <img src="../../assets/imgs/logo.png" alt="" width="100px">
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col col-12 *ngIf="isShown">
          <ion-row style="padding: 15px;">
            <ion-col col-7 class="pt-5">
              BANK DETAILS: <br>
              <span class="text-color-primary">10242424</span>
              
            </ion-col>
            <ion-col col-5 >
              <img src="../../assets/imgs/logo.png" alt="" width="100px">
            </ion-col>
          </ion-row>
        </ion-col>

    </ion-row> -->

    <ion-row class="profile-details ">
      <ion-col col-12 class="profile-picture text-center">
        <img width="80px" src="../../assets/saarthi-icon/png/driver.png" alt="">
        <p style="margin-top: 10px">ADD PHOTO</p>
      </ion-col>
      <ion-col col-6>
        NAME: <br> <span class="text-color-primary">{{driver['name']}}</span>
      </ion-col>
      <ion-col col-6>
        PHONE: <br>  <span class="text-color-primary">{{driver['phone_number']}} <i style="font-size: 18px; margin-left: 10px;" class="fa fa-phone" aria-hidden="true"></i>
        </span>
      </ion-col>
      <ion-col col-6>
        STATUS:<br>  <span  class="text-color-primary">{{driver['worker_type']}}</span>
      </ion-col>
      <ion-col col-6>
        LOCATION: <br>  <span class="text-color-primary">{{driver['city']}}</span>
      </ion-col>
      <ion-col col-6>
        JOINED SINCE: <br>  <span  class="text-color-primary">XXXXXX</span>
      </ion-col>
      <ion-col col-6>
        VEHICLE NUMBER:  <br>  <span class="text-color-primary">XXXXXXX</span>
      </ion-col>


      <ion-col col-12 (click)="showMore()" class="text-right">
        <i id="fa-arrow-circle-down-driver" class="fa fa-arrow-circle-down"  aria-hidden="true" style="font-size: 20px;color: #0752af;"></i>
      </ion-col>

      
        <ion-col col-6 *ngIf="isShown">
          SALARY: <br>  <span  class="text-color-primary">{{driver['salary']}}</span>
        </ion-col>
        <ion-col col-6 *ngIf="isShown"> 
          REFERENCE: <br>  <span class="text-color-primary">{{driver['reference_person']}}</span>
        </ion-col>
  
        <ion-col col-12 *ngIf="isShown">
          <ion-row style="padding: 15px;">
            <ion-col col-7 class="pt-5">
              DOCUMENT NUMBER: <br>
              <span class="text-color-primary">AADHAR - {{driver['aadhar_card_number']}}</span>
              
            </ion-col>
            <ion-col col-5 >
              <img src="../../assets/imgs/logo.png" alt="" width="100px">
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col col-12 *ngIf="isShown">
          <ion-row style="padding: 15px;">
            <ion-col col-7 class="pt-5">
              DRIVER LICENSE: <br>
              <span class="text-color-primary">{{driver['license_number']}}</span>
              
            </ion-col>
            <ion-col col-5 >
              <img src="../../assets/imgs/logo.png" alt="" width="100px">
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col col-12 *ngIf="isShown">
          <ion-row style="padding: 15px;">
            <ion-col col-7 class="pt-5">
              BANK DETAILS: <br>
              <span class="text-color-primary">{{driver['account_number']}}</span>
              
            </ion-col>
            <ion-col col-5 >
              <img src="../../assets/imgs/logo.png" alt="" width="100px">
            </ion-col>
          </ion-row>
        </ion-col>

    </ion-row>
 

    <div class="segment row mt-4">
      <!-- <div class="content-heading"> -->
        <!-- <div class="text-center text-color-primary " >
          <h2></h2>
         
        </div> -->
        <ion-col col-12>
          <div class="text-center text-color-primary " style="padding: 10px;">
            <h4>DOCUMENTS &nbsp; <i class="fa fa-file-text-o" aria-hidden="true"></i> </h4>
            <hr>
          </div>

          <ion-item>
            <ion-label>REMINDER TIME</ion-label>
            <ion-datetime displayFormat="h:mm A" pickerFormat="h:mm A" value="1990-02-19T07:43Z"> </ion-datetime>           

          </ion-item>
 
        </ion-col>
   

      <!-- </div> -->

      <hr>

      <ion-row class="driver-modal  mt-4" *ngFor="let dc of documents">
        <ion-col col-12 class="driver-modal-header">
          <!-- (click)="goToModal()" -->
          <span class="permit" >{{dc['document_name']}}</span>
          <!-- (click)="addPermit()" -->
          <!-- <span class="add-more-modal"  >ADD MORE <i class="fa fa-plus-circle" aria-hidden="true"></i>
          </span> -->
        </ion-col>
        <ion-col col-4 class="picture-upload text-center" (click)="uploadPhoto(dc)">
          <i class="fa fa-camera" aria-hidden="true" *ngIf="dc['document_image_id'] == null || dc['document_image_id'] == undefined || dc['document_image_id'] == '0'" ></i><br>
          <img [src]="dc['document_image_id']" *ngIf="dc['document_image_id'] != '0'" />
          <!-- <small>ADD PHOTO</small> -->
        </ion-col>
        <ion-col col-8 class="text-center">
          <ion-item>
            <ion-label floating>EXPIRY DATE</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="dc['document_expiry_date']"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label floating>REMINDER DATE</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="dc['document_reminder_date']"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-12 class="text-right">
            <ion-toggle checked="false" ></ion-toggle>
        </ion-col>
      </ion-row>

 

    </div>
   
    
    <div class="text-center">
      <button ion-button round class="custom-button" (click)="save()">SAVE</button>
    </div>

  </div>


</ion-content> 


<!-- <ion-card>
  <ion-card-header>
    REMOVE DRIVER
  </ion-card-header>
  <ion-card-content>
    
  </ion-card-content>
</ion-card>  -->

