page-account-payment-search-modal {
    .item-md{
        background: transparent !important;
    }

    .header{
        box-shadow: none !important;
        -webkit-box-shadow : none !important
    }

    .chip-md{
        border-radius: 3px;
        height: 26px;
        font-size: 8px;
        line-height: 27px;
        color: rgba(0, 0, 0, 0.87);
        background: rgba(0, 0, 0, 0.12);
        margin: 2px 0;
    }

    ion-icon{
        text-align: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 18px;
    line-height: 26px;
    }
}