page-init {

    .otp-input{
        width: 50px !important;
        height: 50px !important;
        border-radius: 4px !important;
        border: solid 1px #c5c5c5 !important;
        text-align: center !important;
        font-size: 32px !important;
        margin: 14px !important;
    }
}
