<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-2 class="custom-back-button">
        <!-- <ion-icon name="ios-arrow-round-back"></ion-icon> -->
      </ion-col>
    
      <ion-col col-7 class="person-name text-left">
        <ion-title>        
          <i class="fa fa-file" aria-hidden="true"></i>
          ADD COMPLAINTS
        </ion-title>

      </ion-col>
      <ion-col col-3 class="youtube">
        <ion-icon name="logo-youtube" color="danger" style="font-size: 4.2rem;margin-top: 3px;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container white-section">

  

    <!-- <div class="scrollmenu">
      <a href="#home">NUMBER</a>
      <a href="#news">VEHICLE NUMBER(DRIVER NAME)</a>
      <a href="#contact">PROBLEM PART AND ID</a>
      <a href="#about">DATE OF COMPLAINT/REMINDER</a>
      <a href="#about">DETAILS/KM READING</a> -->
    <!-- <i class="fa fa-angle-down"  aria-hidden="true"></i>
      <i class="fa fa-angle-right" aria-hidden="true"></i> -->

    <!-- <div style="height: 200px;width: 400px">

      </div>
    </div> -->

    <div class="scroll-grid" >
      <div class="scrollmenu">
       
        <a href="#home">NUMBER</a>
        <a href="#news">VEHICLE NUMBER</a>
        <a href="#contact">PROBLEM PART & ID</a>
        <a href="#about">COMPLAINT DATE</a>
        <a href="#about">REMINDER DATE</a>
        <a href="#about">DETAILS</a>
        <a href="#about">KM READING</a>

        <div *ngFor="let cm of complaints">
        <div [ngClass]="cm['selected']=='true' ? 'scrollmenu-list selected' : 'scrollmenu-list'" (click)="selectThis(cm)" >
          <p>{{cm['complaints_id']}} </p>
          <p>{{cm['vehicle_id']}}</p>
          <p>{{cm['problem_id']}}</p>
          <p>{{cm['date_of_complaint']}}</p>
          <p>{{cm['date_of_reminder']}}</p>
          <p>{{cm['details']}}</p>
          <p>{{cm['km_reading']}}</p>
     
        </div>
      </div>

      </div>
      <div class="show-arrows">
        <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
  
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
  
      </div>
    </div>

    <!-- <ion-item>
      <ion-label>VEHICLE NUMBER &nbsp; &nbsp; &nbsp; &nbsp; DRIVER</ion-label>
      <ion-select [(ngModel)]="gender">
        <ion-option value="f">Female</ion-option>
        <ion-option value="m">Male</ion-option>
      </ion-select>
    </ion-item> -->

    <ion-badge color="primary" style="margin-top: 13px;margin-left: 2px;padding: 7px;">Complaints # {{complaints_id}}</ion-badge>


    <ion-item *ngIf="!isSelectedBill" class="label-select" style="margin-top: 0px !important;">
      <ion-label floating>VEHICLE NUMBER</ion-label>

      <ion-select interface="action-sheet" style="border: 2px solid #3951b2; color: #3951b2; border-radius: 5px;font-size: 16px;padding-top: 12px;padding-left: 10px; padding-bottom: 13px !important;" [(ngModel)]="vehicle_id" (ionChange)="change($event)">
        <ion-option value="{{vh['vehicle_id']}}" *ngFor="let vh of vehicles">{{vh['vehicle_number']}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-row class="selected-details" *ngIf="isSelectedBill">
      <ion-col col-4 class="text-center" style="color: white;">
        <img  src="../../assets/saarthi-icon/png/driver.png" alt="">
      </ion-col>
      <ion-col col-4 class="text-center"  style="color: white;">
        <h6 style="margin-top: 16px;font-size: 14px;color: #fff;font-weight: 1000;">{{vehicle_number}}</h6>
      </ion-col>
      <ion-col col-4 class="text-center"> 

        <button ion-button round style="margin-top: 15px;" (click)="isSelectedBill=!isSelectedBill">CHANGE</button>
      </ion-col>
    </ion-row>

    <div class="label-float" (click)="openProblemModal()">
      <input type="text"  [(ngModel)]="problem_id" placeholder=" " />
      <label>PROBLEM/WORK(PART & ID)</label>
    </div>




    <ion-row style="margin: 0 -5px;" class="complaint">
      <ion-col col-6>
        <div class="label-float" >
          <input type="text" style="font-size: 14px !important;"  [(ngModel)]="date_of_complaint" (click)="openCalendarPopup()"/>
          <label>COMPLAINT</label>
          <i class="fa fa-calendar" style="bottom: 12px;" aria-hidden="true"></i>
    
        </div>
      </ion-col>
      <ion-col col-6>
        <div class="label-float" >
          <input type="text" style="font-size: 14px !important;"   [(ngModel)]="date_of_reminder" (click)="openCalendarPopup2()"/>
          <label>REMINDER</label>
          <i class="fa fa-calendar" style="bottom: 12px;" aria-hidden="true"></i>
    
        </div>
      </ion-col>
    </ion-row>
  



    <ion-row >
      <ion-col col-9>

        <ion-row >
          <ion-col  col-12 (click)="openDetailPopup()" style="padding-left: 27px;margin-top: -6px;">
            <div class="label-float" style="padding-top: 8px;">
              <input type="text"  [(ngModel)]="details" placeholder=" " />
              <label>DETAILS</label>
            </div>
    
          </ion-col>    
        </ion-row>  
      </ion-col>
      <ion-col col-2>
        <ion-row class="detail-picture">
          <ion-col col-12 *ngIf="img == null" (click)="openCameraPopup()">
            <i class="fa fa-camera" aria-hidden="true"></i>
          </ion-col>    
          <ion-col col-12 *ngIf="img != null" (click)="openCameraPopup()">
            <img [src]="img['image_url']" style="opacity: 0.9 !important;"/>
           <ion-icon class="edit-pencil" ios="ios-create" md="md-create" style="position: absolute;right: 19px;top: 21px;"></ion-icon>
    
          </ion-col>
        </ion-row>      
      </ion-col>
    </ion-row>

    <div class="label-float" style="padding-top: 8px;" >
      <input type="tel" [(ngModel)]="km_reading" placeholder=" " />
      <label>KM READING</label>
    </div>

   

  </div>
  <div class="text-center mt-4">
    <button ion-button round class="custom-button" *ngIf="!isupdate" (click)="savecomplaint()"> SAVE</button>
    <button ion-button round class="custom-button" *ngIf="isupdate" (click)="updatecomplaint()"> UPDATE</button>
  </div>
</ion-content> 


